.pagetitle {
    position: fixed;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: flex;
    font-size: 82px;
    top: 280px;
    right: 780px;
    user-select: none;
    text-decoration: none;
}

.pageparagraph {
    position: fixed;
    font-family: 'High Tower Text';
    font-weight: bold;
    display: flex;
    font-size: 26px;
    top: 400px;
    right: 850px;
    user-select: none;
    text-decoration: none;
}

body {
    background-color: darkorange;
    opacity: 1;
    user-select: none;
    text-decoration: none;
}

.play {
    border: dashed;
    background-color: transparent;
    outline-color: darkgoldenrod;
    color: #271603;
    position: absolute;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    top: 490px;
    right: 895px;
    border-radius: 20px;
    width: auto;
    height: auto;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
}

.play:hover {
    background-color: #ffb963;
    outline-color: darkgoldenrod;
    color: #271603;
    top: 495px;
    transition: 0.3s;
}

.settings {
    border: none;
    background-color: transparent;
    outline-color: transparent;
    color: transparent;
    position: absolute;
    font-family: 'Comic Sans MS';
    font-size: 16px;
    top: 20px;
    left: 20px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.bimage {
    position: absolute;
    color: saddlebrown;
    top: 4px;
    left: 5px;
    width: 56px;
    height: 58px;
    transition: 0.8s;
    user-select: none;
    text-decoration: none;
    transition-delay: .3s;
}

.settingslabel:hover .bimage {
  transform: rotate(180deg);
  transition: 0.8s;
}

.settingslabel {
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 66px;
    width: 66px;
    background-color: #8d6609;
    border-radius: 40px;
    transition: 0.8s;
    user-select: none;
    text-decoration: none;
    transition-delay: .3s;
}

.settingslabel:hover {
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 400px;
    width: 66px;
    background-color: #8d6609;
    border-radius: 40px;
    display: inline-block;
    transition: 0.8s;
}

.icon_1 {
    position: absolute;
    opacity: 0;
    top: 80px;
    left: 15px;
    height: 35px;
    width: 35px;
    transition: 0.4s;
    transition-delay: .5s;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.settingslabel:hover .icon_1 {
    position: absolute;
    opacity: 1;
    top: 80px;
    left: 15px;
    height: 35px;
    width: 35px;
    transition: 0.3s;
    transition-delay: .2s;
}

.icon_2 {
    position: absolute;
    opacity: 0;
    top: 160px;
    left: 15px;
    height: 35px;
    width: 35px;
    transition: 0.4s;
    transition-delay: .4s;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.settingslabel:hover .icon_2 {
    position: absolute;
    opacity: 1;
    top: 160px;
    left: 15px;
    height: 35px;
    width: 35px;
    transition: 0.3s;
    transition-delay: .3s;
}

.icon_3 {
    position: absolute;
    opacity: 0;
    top: 240px;
    left: 15px;
    height: 35px;
    width: 35px;
    transition: 0.4s;
    transition-delay: .3s;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.settingslabel:hover .icon_3 {
    position: absolute;
    opacity: 1;
    top: 240px;
    left: 15px;
    height: 35px;
    width: 35px;
    transition: 0.3s;
    transition-delay: .4s;
}

.icon_4 {
    position: absolute;
    opacity: 0;
    top: 320px;
    left: 15px;
    height: 35px;
    width: 35px;
    transition: 0.4s;
    transition-delay: .2s;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.settingslabel:hover .icon_4 {
    position: absolute;
    opacity: 1;
    top: 320px;
    left: 15px;
    height: 35px;
    width: 35px;
    transition: 0.3s;
    transition-delay: .5s;
}

.icon_1:hover {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    transition: .3s;
}

.icon_2:hover {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    transition: .3s;
}

.icon_3:hover {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    transition: .3s;
}

.icon_4:hover {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
    transition: .3s;
}

.infobutton {
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 66px;
    width: 66px;
    background-color: #8d6609;
    border-radius: 40px;
    transition: 0.8s;
    user-select: none;
    text-decoration: none;
    transition-delay: .3s;
}

.info {
    position: absolute;
    color: saddlebrown;
    top: 4px;
    left: 5px;
    width: 56px;
    height: 58px;
    transition: 0.8s;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition-delay: .3s;
}